@import accueil.css

body {
    margin: 0 auto;
    background-color: rgb(218, 11, 11);
  }

  /*----- main ------*/
 main{

    margin: 0px 10px;
 }
 a {
    text-decoration: none;
    color: rgb(0, 0, 0); /*par exemple*/
   }
p
{
    text-align: center;
}
h1{
       text-align: center;
       font-size: 2.5em;
       font-weight: 800;
}


body{
  background-color: rgb(248, 62, 62);
}
