footer {
    display: flex;
    flex-direction: column;
    background-color: dimgray;
  }
  
  .logo_f {
    margin: 15px 0px 15px 10px;
    width: 90px;
    height: 15px;
  }
  .mail
  {
    text-decoration: none;
    color: black;
  }