@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Shrikhand, arial, "sans serif";
  src: url();
}
header .logo {
  width: 138px;
  height: 23px;
  margin: 20px 0 10px 90px;
  text-align: center;
}
header .header_color {
  background-color: #e9e9e9;
  margin-bottom: 20px;
  height: 280px;
}
header .header_color .sous_titre {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 17px;
  color: gray;
  margin: 0 -12px 30px 0;
}
header .header_color .boite_lieu {
  background-color: #dfdfdf;
  height: 30px;
  border-top: solid 2px #c5c5c5;
}
header .header_color .lieu {
  display: flex;
  justify-content: center;
}
header .header_color .title_header {
  font-size: 20px;
  text-align: center;
  margin: 20px 69px 10px 60px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: dimgray;
}

.logo_f {
  margin: 15px 0px 15px 10px;
  width: 90px;
  height: 15px;
}

.mail {
  text-decoration: none;
  color: black;
}

/*----- Bouton ------*/
.bouton {
  text-align: center;
}

.btn {
  background-color: #e76cd3;
  color: white;
  padding: 8px;
  box-shadow: 1px 1px 4px #9b9b9b;
}

/*-----bouton 2-------*/
.bouton2 {
  text-shadow: 1px 1px 1px #272727;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #df47ca;
  color: white;
  border-radius: 25px;
  box-shadow: 2px 3px 8px black;
  width: 160px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.bouton2:hover {
  cursor: pointer;
}

.Position_btn2 {
  display: flex;
  justify-content: center;
}

/*----- fonctionnement nav------*/
.Fonctionnement {
  display: flex;
  justify-content: left;
  font-weight: 900;
  font-size: 1.5em;
  padding: 15px;
}

.fonctionnement_nav {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 65px 18px;
}

.fonctionnement_nav_1 {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #eeeeee;
  color: #050505;
  border: solid 1px #f7f5f5;
  border-radius: 12px;
  box-shadow: 2px 2px 8px #c9c9c9;
  width: 263px;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.fonctionnement_nav_2 {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #eeeeee;
  color: #050505;
  border: solid 1px #f7f5f5;
  border-radius: 12px;
  box-shadow: 2px 2px 8px #c9c9c9;
  width: 263px;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.fonctionnement_nav_3 {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #eeeeee;
  color: #050505;
  border: solid 1px #f7f5f5;
  border-radius: 12px;
  box-shadow: 2px 2px 8px #c9c9c9;
  width: 263px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.fonction_logo {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 20px 20px;
  border: 2px solid #ac3fa6;
  width: 21px;
  height: 21.9px;
  background-color: #8704a1;
  color: white;
  font-size: 18px;
  margin-right: 55px;
}

/*-------- fonctionnement logo ------*/
.svg-inline--fa fa-mobile-alt fa-w-10 {
  width: 15px;
  height: 20px;
}

/*----- restaurants title ------*/
.groupe_resto_acc {
  background-color: #f3f3f3;
  height: 1125px;
  padding-top: 35px;
  /*----- la palette du goût ------*/
}
.groupe_resto_acc .h1_resto_acc {
  font-size: 22px;
  font-weight: 900;
  margin: 0 0 20px 15px;
}
.groupe_resto_acc .card_resto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #e7e7e7;
  box-shadow: 2px 2px 4px gray;
  border-radius: 15px;
  width: 270px;
  height: 235px;
  margin-bottom: 20px;
  margin-left: 15px;
  background-color: #ffffff;
}
.groupe_resto_acc .img_restaurant {
  display: flex;
  flex: 1;
  background-size: cover;
  width: 268px;
  height: 128px;
  border-radius: 15px 15px 0px 0px;
}
.groupe_resto_acc h4 a {
  font-size: 17px;
  margin: 10px 0px 5px 10px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.groupe_resto_acc .texte_card_1 {
  font-size: 15px;
  text-align: left;
  margin: 0px 0px 12px 10px;
}

/*# sourceMappingURL=style.css.map */
